<h2 class="expenses-title">All Expenses</h2>


{{!-- description, date, category, amount and delete added --}}
<form action="/expenses" method="get" class="expenses-filter-form">
    <!-- Autocomplete for Description -->
    <input type="text" name="description" id="description" placeholder="Filter by description" class="description-autocomplete">

    <!-- Dropdown for Category -->
   <div class="category-checkboxes">
    {{#each categories}}
        <div class="checkbox-container">
            <input type="checkbox" name="category" value="{{this.id}}" id="category-{{this.id}}" class="category-checkbox">
            <label for="category-{{this.id}}">{{this.name}}</label>
        </div>
    {{/each}}
</div>

  
    <!-- Submit Button -->
    <button type="submit">Filter</button>
</form>

<table class="expenses-table">
    <thead class="expenses-thead">
        <tr class="expenses-header-row">
            <th class="expenses-header">Description</th>
            <th class="expenses-header">Date</th>
            <th class="expenses-header">Category</th>
            <th class="expenses-header">Amount</th>
            <th class="expenses-header">Actions</th>
        </tr>
    </thead>
    <tbody class="expenses-tbody">
        {{#each expenses}}
            <tr class="expenses-row">
                <td class="expenses-description">{{this.description}}</td>
                <td class="expenses-date">{{this.date_added}}</td>
                <td class="expenses-category">{{this.category_name}}</td>
                <td class="expenses-amount">R{{this.amount}}</td>
                <td class="expenses-actions">
                    <a href="/delete-expense/{{this.id}}" class="delete-expense">Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
<div class="back-to-dashboard-btn_container">
<a href="/" class="back-to-dashboard-btn">Back to Dashboard</a>

</div>
<div class="total-amount-container">
    <strong>Total expenses:</strong> <span class="total-amount">R{{ totalAmount }}</span>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const descriptionInput = document.getElementById('description');
        let timeout = null;

        descriptionInput.addEventListener('input', function(e) {
            clearTimeout(timeout);
            timeout = setTimeout(() => {
                const search = e.target.value;

                fetch(`/descriptions?search=${search}`)
                    .then(response => response.json())
                    .then(data => {
                        // Process and display suggestions
                        // This will depend on how you want to display them and handle user selection
                    })
                    .catch(error => console.error('Error:', error));
            }, 300); // Adjust delay as needed
        });
    });
</script>

